.menu-page {
  min-height: 100vh;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  display: flex;
}

.menu-page-wrap {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 32px;
  gap: 32px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.menu-head {
  text-align: center;
  color: #fff;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: flex-start;
  row-gap: 32px;
  width: 100%;
  column-gap: 50px;
}

.cart-button {
  border: none;
  cursor: pointer;
  padding: 12px 16px;
}

.loading,
.not-found {
  margin: 0 auto;
}

.loading img {
  width: 50px;
  height: 50px;
}

.not-found {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.not-found h3 {
  font-weight: 500;
  font-size: 18px;
}
