.page {
  min-height: 100vh;
  background-image: url("../../Asset//home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  background-color: #2d3436;
}

.page-wrap {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-head {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.home-button {
  background: #e64a33;
  border: none;
  padding: 12px 16px;
  font-family: inherit;
  border-radius: 8px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.6s;
}

.home-button:hover {
  background: #e93216;
  transform: scale(1.01);
}

.page-title {
  font-size: 64px;
  color: #fff;
}

.page-title span {
  color: #e93216;
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
